# Core Data Handling
pandas
numpy

# EDA & Visualization
matplotlib
seaborn
plotly

# Machine Learning
scikit-learn
sentence-transformers
langchain
faiss-cpu
chromadb
transformers
torch
gradio 
streamlit
huggingface_hub 

# Dev Tools
ipykernel
jupyter


# GitHub Actions (testing and linting support, optional)
pytest
flake8
